version: '3.8'
services:
  api_gateway:
    build: ./api_gateway
    ports:
      - "8000:8000"
    environment:
      - PRODUCT_URL=http://product_service:8001
      - CUSTOMER_URL=http://customer_service:8003
      - ORDER_URL=http://order_service:8004
      - PAYMENT_URL=http://payment_service:8002
      - SHIPPING_URL=http://shipping_service:8005
      - JWT_SECRET=patrones-ut4
    depends_on:
      - product_service
      - customer_service
      - order_service
      - payment_service
      - shipping_service

  product_service:
    build: ./product_service
    ports:
      - "8001:8001"
    volumes:
      - product_data:/app/data

  customer_service:
    build: ./customer_service
    ports:
      - "8003:8003"
    environment:
      - PAYMENT_URL=http://payment_service:8002
    volumes:
      - customer_data:/app/data
    depends_on:
      - payment_service

  payment_service:
    build: ./payment_service
    ports:
      - "8002:8002"

  order_service:
    build: ./order_service
    ports:
      - "8004:8004"
    environment:
      - PRODUCT_URL=http://product_service:8001
      - CUSTOMER_URL=http://customer_service:8003
    volumes:
      - order_data:/app/data
    depends_on:
      - product_service
      - customer_service

  shipping_service:
    build: ./shipping_service
    ports:
      - "8005:8005"
    volumes:
      - shipping_data:/app/data
    depends_on:
      - order_service

volumes:
  product_data:
  customer_data:
  order_data:
  shipping_data: